/* PiTunes CSS */

body {
  background-color: #222;
  color: #fff;
}

.container-fluid {
  padding: 5px;
}
.row {
  margin-right: -5px;
  margin-left: -5px;
}

[ng-controller=SourceCtrl] {
  margin-bottom: 10px;
}

.source-view {
  height: 256px;
  overflow-y: scroll;
}

.player-image {
  max-width: 100px;
}

.full-width {
  width: 100%;
}
