<!-- Track information -->
<p>
  <span class="small">{{activeTrack.artist}}</span><br/>
  <strong>{{activeTrack.title}}</strong><br/>
  <span class="small">{{activeTrack.album}}</span>
</p>

<!-- Album art -->
<p>
  <img class="img-responsive center-block" style="max-width: 80px;"
       ng-src="{{'local-tracks/album-art/' + activeTrack.albumArtFile}}"
       err-src="img/default-album-art.jpg">
</p>

<!-- Vote up or down -->
<p class="row">
  <button class="btn col-xs-3 col-xs-offset-2 glyphicon glyphicon-thumbs-up"
          ng-class="activeTrack.votedUp ? 'btn-success' : 'btn-default'"
          ng-click="voteUp(activeTrack)"/>
  <button class="btn col-xs-3 col-xs-offset-2 glyphicon glyphicon-thumbs-down"
          ng-class="activeTrack.votedDown ? 'btn-danger' : 'btn-default'"
          ng-click="voteDown(activeTrack)"/>
</p>

<!-- Audio controls -->
<p class="row">
  <button class="btn btn-default col-xs-3 col-xs-offset-2 glyphicon glyphicon-pause"
          ng-click="playOrPause()" id="playPauseBtn"/>
  <button class="btn btn-default col-xs-3 col-xs-offset-2 glyphicon glyphicon-step-forward"
          ng-click="skip()"/>
</p>
