<div ng-controller="PlayerCtrl" class="text-center" ng-hide="src.audio == null">
  <!-- Track information -->
  <p>
    <span class="small">{{src.artist}}</span><br/>
    <strong>{{src.name}}</strong><br/>
    <span class="small">{{src.album}}</span>
  </p>

  <!-- Album art -->
  <p>
    <img class="img-responsive center-block player-image"
         ng-src="{{src.image}}"
         err-src="img/default-album-art.jpg">
  </p>

  <!-- Vote up or down -->
  <p class="row" ng-show="src.votingEnabled">
    <button class="btn col-xs-3 col-xs-offset-2 glyphicon glyphicon-thumbs-up"
            ng-class="src.votedUp ? 'btn-success' : 'btn-default'"
            ng-click="vote('up')"/>
    <button class="btn col-xs-3 col-xs-offset-2 glyphicon glyphicon-thumbs-down"
            ng-class="src.votedDown ? 'btn-danger' : 'btn-default'"
            ng-click="vote('down')"/>
  </p>

  <!-- Audio controls -->
  <p class="row">
    <button class="btn btn-default col-xs-3 col-xs-offset-2 glyphicon glyphicon-pause"
            ng-click="playOrPause()" id="playPauseBtn"/>
    <button class="btn btn-default col-xs-3 col-xs-offset-2 glyphicon glyphicon-step-forward"
            ng-click="skip()"/>
  </p>

  <audio autoplay ng-src="{{src.audio}}"/>
  <!-- <audio autoplay ng-src="{{src.audio}}" onended="skip()"/> -->
</div>
