<!DOCTYPE html>
<html lang="en" ng-app="piTunes">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <base href="/">

  <title>PiTunes</title>

  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap-theme.css">
  <link rel="stylesheet" href="css/pi-tunes.css">

  <script src="bower_components/jquery/dist/jquery.js"></script>
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-route/angular-route.js"></script>
  <script src="bower_components/angular-resource/angular-resource.js"></script>

  <script src="js/pi-tunes.js"></script>
  <script src="js/player.js"></script>
  <script src="local/controllers.js"></script>
  <script src="local/services.js"></script>
  <script src="local/directives.js"></script>
</head>

<body>
  <div class="container-fluid" id="viewContainer">

  <div ng-controller="SourceCtrl">
    <select ng-model="locationPath"
            ng-model-options="{ getterSetter: true }" class="form-control">
      <option ng-repeat="src in sources" value="{{src.path}}">{{src.label}}</option>
    </select>
  </div>

  <div class="row">
    <!-- Active source -->
    <div ng-view class="col-xs-7"></div>

    <!-- Now playing -->
    <div ng-include="partials/player.html" class="col-xs-5"></div>
  </div>
</body>
</html>
