<div class="text-center">
  <h2>♪ PiTunes - Sources ♪</h2>

  <div class="row">
    <a class="col-xs-4 col-xs-offset-1 btn btn-primary source-btn"
       href="#/local">Local Music</a>
    <a class="col-xs-4 col-xs-offset-2 btn btn-primary source-btn"
       href="#/radio">Radio Streams</a>
  </div>
  <div class="row">
    <a class="col-xs-4 col-xs-offset-1 btn btn-primary source-btn"
       href="#/pandora">Pandora</a>
    <a class="col-xs-4 col-xs-offset-2 btn btn-primary source-btn"
       href="#/google">Google Play Music</a>
  </div>
</div>
